*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    position: sticky;
    height: 100px;
    background-color: rgb(214 133 62);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px
}
.left-nav{
    width: 30%;
}
.left-nav img{
    width: 70px;
    border-radius: 50%;
    padding-left: 30px;
}
.right-nav{
    width: 70%;
}
.right-nav ul{
  display: fixed;
  padding: 0;
    margin: 0;
}
.right-nav ul li{
   list-style: none;
   display: inline-block;
}
.right-nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    padding: 0 30px;
    font-size: 35px;
    font-weight: 500;
    }
.right-nav ul li a:hover{
    color: rgb(255, 242, 0);
    background: white;
    border-radius: 30px;
}
.wrapper{
    
    width: 860px;
    margin: 0 auto;
}
/* admin logo */
.admin-panel {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.admin-panel img {
    width: 70px;
    border-radius: 50%;
    margin-right: 10px; /* Adjust the margin as needed */
}

.admin-button {
    background-color: #ffffff; /* Button background color */
    color: black; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 20px; /* Button border radius */
    font-size: 18px; /* Button font size */
    font-weight: bold; /* Button font weight */
    font-family: "Oswald", sans-serif;
    text-decoration: none; /* Remove default underline */
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.6)
    
}

 /* admin logo end*/ 
.wrapper-container{
    background-color: #e77943;
    width: 100%;
    height: 100px;
    position: relative;
    border-radius:40px;
}
.wrapper ul{
    list-style: none;
    padding-top: 3%;
}
.wrapper ul li{
    width: 170px;
    border: 1px solid #00000000;
    border-radius:px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size:4px;
    position: relative;
     font-family: "Oswald", sans-serif;
    background-color:#ffffffb0;
}
.wrapper ul li a{
    color: #000;
    font-size: 26px;
    text-decoration: none;
}

.wrapper ul li:hover{
    background: #ffffff;
}
.wrapper ul ul{
    display: none;
}

.wrapper ul li:hover > ul{
    display: block;
}


/* home */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 100px;
    font-family: "Oswald", sans-serif;
 
 }
 #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 100px;
    font-family: "Oswald", sans-serif;

 }
 #home::before{
     content: "";
     height:150%;
    border-radius:50px;
      box-shadow: 0 .25rem .5rem rgb(0 0 0 / 76%);
     width: 120%;
     z-index: -2;
     opacity: 0.89;
     background: url('../img/Admin/adminwallpaper.jpg') center center/cover no-repeat;
     font-family: "Oswald", sans-serif;


 }

 /* delux ac  */
 .delux-insert{
     margin-top: 230px;
     margin-left: 500px;
 }
 .h1 {
     font-family: "Oswald", sans-serif;
    text-align: center;
     color:#bf6f24;
     
}

.image-box {
    width: 540px; /* Adjust the width of the box as needed */
    height: 450px; /* Adjust the height of the box as needed */
   /* Border for the box */
    display: flex;
    justify-content: center;
 margin:  auto;
}

.image-box img {
    max-width: 200%; /* Ensure the image doesn't exceed the box width */
    max-height: 140%; /* Ensure the image doesn't exceed the box height */
    border:2px;
    border-radius:40px;
   box-shadow: 0 4px 8px rgb(0 0 0);
}

/* room details */
.admin-room-details{
    background:rgba(255,255,255,0.5); 
    
}
.admin-room-details h1{
    text-align:center;
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
}
body::before{
position: absolute;
content: "";
height: 170%;
width: 100%;
z-index: -1;
opacity: 0.89;

}
.admin-booking table tr{
    font-size:20px;
    font-family: "Oswald", sans-serif;
}